[Unit]
Description=Initialize camera (CVS ownership, sensor driver, v4l2loopback)
After=systemd-modules-load.service
Before=graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "modprobe intel_cvs && sleep 2 && modprobe ov08x40 && modprobe v4l2loopback"

[Install]
WantedBy=multi-user.target
